{% extends "navbar.html" %}
{% block title %}
Add Hospital Information
{% endblock title %}
{% block body %}
<br>
<br>
<br>
<br>
<div class="container mt-4">
    <div class="display-4 text-center text-secondary"><u><b>Add Hospital Data</b></u></div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                {% include "message.html" %}
                <div class="card-body bg-light">
                    <h4 class="text-secondary text-center" >Covid Care Center</h4>
                    <form action="/addhospitalinfo" method="post">
                        <div class="form-group">
                            <input type="text" class="form-control mt-2" name="hcode" placeholder="Enter hospital code" required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control mt-2" name="hname" placeholder="Enter the hospital name" required>
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-control mt-2" name="vvaxin" placeholder="Enter the number of Covaxin available" required>
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-control mt-2" name="vshield" placeholder="Enter the number of Covishield available" required>
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-control mt-2" name="vsputnik" placeholder="Enter the number of Sputnik V available" required>
                        </div>

                        <br>
                        <button class="btn btn-success" type="submit">Add</button>




                    </form>
                </div>
            </div>
<br>


        </div>
        <div class="col-md-6">
            <div class="card">
                <img src="https://source.unsplash.com/3500x1120/?covid,hospital" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><b><u>Hospital Data</u></b></h5>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item border border-light">Hospital code: <b>{{postsdata.hcode}}</b></li>
                  <li class="list-group-item border border-light">Hospital name: <b>{{postsdata.hname}}</b></li>
                  <li class="list-group-item border border-light">Covaxin count: <b>{{postsdata.vvaxin}}</b></li>
                  <li class="list-group-item border border-light">Covishield count: <b>{{postsdata.vshield}}</b></li>
                  <li class="list-group-item border border-light">Sputnik V count: <b>{{postsdata.vsputnik}}</b></li>
                  <li class="list-group-item border border-light"><a href="/hedit/{{postsdata.id}}"><i class="fas fa-edit "></i></a></li>
                  <li class="list-group-item border border-light"><a href="/hdelete/{{postsdata.id}}"><i class="fas fa-trash-alt"></i></a></li>
                 
                </ul>
                </ul>
              </div>
              <br>
              <br>
              <br>

        </div>
    </div>
</div>
{% endblock body %}