{% extends 'baselogin.html' %}
{% block title %}TRIGGERS{% endblock title %}
{% block form %}
{% include "message.html" %}    
<div class="row">

<div class="col-md-2"></div>
<div class="col-md-8">
<div class="container-mt-2"></div>
<table class="table table-danger table-striped">
    <h3><b>TRIGGERED DATA</b></h3>
    <thead>
        <tr>
          <th scope="col">Hospital code</th>
          <th scope="col">Covaxin available</th>
          <th scope="col">Covishield available</th>
          <th scope="col">Sputnik V available</th>
          <th scope="col">Action</th>
          <th scope="col">Date</th>
        </tr>
      </thead>
      <tbody>
        {% for post in query  %}
        <tr>
          <th scope="row">{{post.hcode}}</th>
          <td>{{post.vvaxin}}</td>
          <td>{{post.vshield}}</td>
          <td>{{post.vsputnik}}</td>
          <td>{{post.querys}}</td>
          <td>{{post.date}}</td>


        </tr>
        {% endfor %}
      </tbody>
  </table>

<br>


</div>
</div>

{% endblock form %}


